body {
        background-image: url('background2.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
      }

.heading {
        text-align: center;
        }

.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }